docker {
  enabled = true
}

process {
  withName:get_submission {
    container = 'sagebionetworks/challengeutils:v3.0'
  }
  withName:validate {
    container = 'python:3.7'
  }
  withName:score {
    container = 'python:3.7'
  }
}

manifest {
  name = 'Sage-Bionetworks-Challenges/nf-model2data'
  author = 'Thomas Yu'
  homePage = 'https://github.com/Sage-Bionetworks-Challenges/nf-model2data'
  description = 'Nextflow model to data workflow'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.04.0'
  version = '0.0.1'
  defaultBranch = 'main'
}
