profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
}

process {
  withName:run_docker {
    container = {{{ participant_container }}}
  }
  withName:validate {
    container = 'sagebionetworks/synapsepythonclient:v2.2.2'
  }
  withName:score {
    container = 'sagebionetworks/synapsepythonclient:v2.2.2'
  }
}

manifest {
  name = 'Sage-Bionetworks/nf-model2data'
  author = 'Thomas Yu'
  homePage = 'https://github.com/Sage-Bionetworks/nf-model2data'
  description = 'Nextflow synapseclient'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.04.0'
  version = '0.0.1'
}
